src/DataServices/CategoryItemService.xsd

<?xml version="1.0"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="" xmlns:prodata="urn:schemas-progress-com:xml-prodata:0001"><xsd:element name="dsItem" prodata:proDataSet="true"><xsd:complexType><xsd:sequence><xsd:element name="Item" minOccurs="0" maxOccurs="unbounded" prodata:beforeTable="ItemBefore"><xsd:complexType><xsd:sequence><xsd:element name="ItemNum" type="xsd:int" nillable="true" prodata:format="zzzzzzzzz9" prodata:label="Item Num"/><xsd:element name="Category1" type="xsd:string" nillable="true" prodata:format="X(10)" prodata:label="Category 1"/><xsd:element name="Category2" type="xsd:string" nillable="true" prodata:format="X(10)" prodata:label="Category 2"/><xsd:element name="Price" type="xsd:decimal" nillable="true" prodata:format=">>,>>9.99" prodata:decimals="2"/><xsd:element name="Qty" type="xsd:int" nillable="true" prodata:format=">>>9"/><xsd:element name="Total" type="xsd:decimal" nillable="true" prodata:format=">>>,>>9.99" prodata:decimals="2"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType><xsd:unique name="ItemNum" prodata:primaryIndex="true"><xsd:selector xpath=".//Item"/><xsd:field xpath="ItemNum"/></xsd:unique></xsd:element></xsd:schema>