src/DataServices/ItemService.xsd

<?xml version="1.0"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="" xmlns:prodata="urn:schemas-progress-com:xml-prodata:0001"><xsd:element name="dsItem" prodata:proDataSet="true"><xsd:complexType><xsd:sequence><xsd:element name="eItem" minOccurs="0" maxOccurs="unbounded" prodata:beforeTable="eItemBefore"><xsd:complexType><xsd:sequence><xsd:element name="ItemNum" type="xsd:int" nillable="true" prodata:format="zzzzzzzzz9" prodata:label="Item Num"/><xsd:element name="ItemName" type="xsd:string" nillable="true" prodata:format="x(25)" prodata:label="Item Name"/><xsd:element name="Price" type="xsd:decimal" nillable="true" prodata:format="->,>>>,>>9.99" prodata:decimals="2"/><xsd:element name="Onhand" type="xsd:int" nillable="true" prodata:format="->>>>9" prodata:label="On Hand"/><xsd:element name="OnOrder" type="xsd:int" nillable="true" prodata:format="->>>>9" prodata:label="On Order"/><xsd:element name="Category1" type="xsd:string" nillable="true" prodata:format="x(30)"/><xsd:element name="Allocated" type="xsd:int" nillable="true" prodata:format="->>>>9"/><xsd:element name="CatDescription" type="xsd:string" nillable="true" prodata:format="X(200)" prodata:label="Cat-Description"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType><xsd:unique name="ItemNum" prodata:primaryIndex="true"><xsd:selector xpath=".//eItem"/><xsd:field xpath="ItemNum"/></xsd:unique></xsd:element><xsd:annotation><xsd:appinfo><prodata:index name="CategoryItemName"><prodata:table name="eItem"/><prodata:field name="Category1"/><prodata:field name="ItemName"/></prodata:index><prodata:index name="ItemName"><prodata:table name="eItem"/><prodata:field name="ItemName"/></prodata:index><prodata:index name="CatDescription" prodata:wordIndex="true"><prodata:table name="eItem"/><prodata:field name="CatDescription"/></prodata:index></xsd:appinfo></xsd:annotation></xsd:schema>